<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aplications</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="d-flex flex-column sticky-footer-wrapper min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#" th:href="@{/}">Home</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/application}">Applications</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/myacc}">My account</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#" th:href="@{/application}">Apps management panel</a>
    <div class="collapse navbar-collapse" id="subnavbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/application/all}">All apps</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/application/add}">Add app</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/application/delete}">Delete app</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-light" th:href="@{/application/update}">Edit app</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="flex-fill container mt-5">

    <table sec:authorize="hasRole('ROLE_ADMIN')" class="table">
        <tr>
            <th>ID</th>
            <th>App Name</th>
            <th>Domain Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Users</th>

        </tr>
        <th:block th:each="app : ${apps}">
            <tr>
                <td th:text="${app.id}"></td>
                <td th:text="${app.appName}"></td>
                <td th:text="${app.domainName}"></td>
                <td>
                    <a th:href="@{/application/update/{id}(id=${app.id})}" class="edit">Edit</a>
                </td>
                <td>
                    <a th:href="@{/application/delete/{id}(id=${app.id})}" class="edit">Delete</a>
                </td>
                <td>
                    <a th:href="@{/application/{id}/users(id=${app.id})}" class="edit">Users</a>
                </td>
            </tr>
        </th:block>
    </table>
    <table sec:authorize="hasRole('ROLE_USER')" class="table">
        <tr>
            <th>ID</th>
            <th>App Name</th>
            <th>Domain Name</th>
            <th>Add</th>
        </tr>
        <th:block th:each="app : ${apps}">
            <tr>
                <td th:text="${app.id}"></td>
                <td th:text="${app.appName}"></td>
                <td th:text="${app.domainName}"></td>
                <td>
                    <a th:href="@{/application/add/{id}(id=${app.id})}" class="add">Add</a>
                </td>
            </tr>
        </th:block>
    </table>
    <form method="post" th:action="@{/apps/tocsv}">
        <button type="submit">Save in .csv</button>
    </form>
</main>
<footer class="footer">
    <div class="container-fluid bg-dark text-center p-2">
        <span class="text-light">Kamil Radzymiński 2021</span>
    </div>
</footer>
</body>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
