<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Person Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="d-flex flex-column sticky-footer-wrapper min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-light" th:href="@{/}">Home</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/persons}">Person list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/persons/search}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/persons/statistics}">Statistics</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="flex-fill container mt-5">
    <div class="mb-3">
        <h1>Search results</h1>
    </div>

    <table class="table bg-light border">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Credit card type</th>
            <th scope="col">Credit card number</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person, loop: ${personsList}">
            <th scope="row" th:text="${person.getId()}"></th>
            <td th:text="${person.getFirstName()}"></td>
            <td th:text="${person.getLastName()}"></td>
            <td th:text="${person.getEmail()}"></td>
            <td th:text="${person.getGender()}"></td>
            <td th:text="${person.getCreditCardType()}"></td>
            <td th:text="${person.getCreditCardNumber()}"></td>
            <td>
                <a th:href="@{|/persons/edit/${person.id}|}">Edit</a>
                <a th:href="@{|/persons/remove/${person.id}|}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer class="footer">
    <div class="container-fluid bg-dark text-center p-2">
        <span class="text-light">Kamil Radzymiński 2020</span>
    </div>
</footer>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</html>